src/main/mule/nov11task.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="60a57e01-3bb1-4ad0-81b2-c3d9240fbadf" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="nov11taskFlow" doc:id="754a5e2d-876a-4c8b-becd-97010fe572cb" >
		<http:listener doc:name="Listener" doc:id="0a69cf22-10db-4064-bf33-dcd2e3b708c5" config-ref="HTTP_Listener_config" path="/task"/>
		<set-variable value="#[payload.a ++ payload.b]" doc:name="Set Variable" doc:id="ed99a78a-05ee-4140-91fc-967765284a74" variableName="name"/>
		<ee:transform doc:name="Transform Message" doc:id="fbe2ce63-0505-4dfd-a501-4503e8dea820" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"sum":payload.a + payload.b,
	"sub": payload.a - payload.b,
	"division": payload.a / payload.b,
	"mul": payload.a * payload.b
	
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
